<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="knockout.mapper.TypeScript.DefinitelyTyped" version="0.0.6" targetFramework="net45" />
  <package id="knockout.TypeScript.DefinitelyTyped" version="0.5.9" targetFramework="net45" />
  <package id="knockoutjs" version="3.2.0" targetFramework="net45" />
  <package id="raphael.TypeScript.DefinitelyTyped" version="0.1.6" targetFramework="net45" />
  <package id="RaphaelJS" version="2.1.0" targetFramework="net45" />
  <package id="RequireJS" version="2.1.15" targetFramework="net45" />
  <package id="requirejs.TypeScript.DefinitelyTyped" version="0.2.0" targetFramework="net45" />
</packages>